/* Ensure the app background is applied */
.app {
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  min-height: 100vh; /* Ensure full height */
  background-color: black; /* Ensure background is applied */
  color: white; 
}



.profile-page {

  align-self: flex-start; /* Moves it to the left */
  margin-top: 20px; /* Space below header */
  margin-left: 150px; /* Push it left */
  display: flex; /* Aligns Profile & About side by side */
  align-items: center; /* Vertically center */
  justify-content: flex-start; /* Centers them */
  gap: 100px; /* Space between Profile and About */
}
  




